/*  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

header {
  background-color: white;
}
header nav ul li {
  list-style-type: none;
  display: inline-flex;
  font-size: 16px;
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  align-content: center;
}

nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.575);
}

a {
  text-decoration: none;
}

* html {
  font-size: 62.5%;
}

header {
  background-color: #FFF;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

@media (min-width: 300px) {
  #gridBlog {
    display: grid;
    grid-template-areas: "navBlog" "mainBlog" "blogPost" "blogPost2" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 10px;
  }

  #gridHome {
    display: grid;
    grid-template-areas: "navBlog" "mainHome" "sobre  " "#experiencia-laboral" "footer ";
    grid-template-columns: 100%;
    grid-template-rows: 7% 3fr 2fr 2fr 10%;
    gap: 10px;
  }

  main#mainHome {
    grid-area: mainHome;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #FBF5F5;
    height: 350px;
  }

  .h1Home {
    font-size: 5rem;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .h2Home {
    font-size: 2rem;
    padding: 3% 3% 3% 3%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .h3Home {
    font-size: 1, 5rem;
    padding: 1% 5% 1% 5%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    justify-content: center;
  }

  .h4Home {
    font-size: 1, 5rem;
    padding: 3% 3% 3% 3%;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    color: rgb(16, 119, 119);
  }

  .about {
    background-color: #FFF;
    align-items: center;
    text-align: center;
    padding: 10% 10% 10% 10%;
  }

  #experiencia-laboral {
    background-color: #FBF5F5;
    justify-content: center;
    text-align: center;
    height: 40%;
  }

  .h2Work {
    font-size: 2rem;
    font-weight: bold;
    padding: 3% 3% 3% 3%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  main#mainBlog {
    grid-area: mainBlog;
    display: flex;
    background-image: url(../images/rodion-kutsaev-8P-uQaTd8rw-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    height: 25vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    font-size: 1.5rem;
  }

  section#blogPost {
    grid-area: blogPost;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    font-size: 2rem;
  }

  section#blogPost2 {
    grid-area: blogPost2;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    font-size: 2rem;
  }

  footer {
    grid-area: footer;
    display: flex;
    background-color: #FFF;
    height: 10vh;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  .carouselCaption {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 5%;
  }

  .carouselCaption h4 {
    font-weight: bolder;
    color: rgb(133, 19, 133);
  }

  .carousel-item img {
    border-radius: 15px;
  }
}
@media (min-width: 768px) {
  #gridBlog {
    display: grid;
    grid-template-areas: "navBlog navBlog" "mainBlog mainBlog" "blogPost blogPost " "blogPost2 blogPost2 " "footer  footer  ";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto;
    gap: 10px;
  }

  #gridHome {
    display: grid;
    grid-template-areas: "navBlog navBlog" "mainHome mainHome " "sobre sobre " "#experiencia-laboral #experiencia-laboral" "footer  footer  ";
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 40% 1fr 3fr 20%;
    gap: 10px;
  }

  main#mainHome {
    grid-area: mainHome;
    display: flex;
    height: 400px;
  }

  .about {
    background-color: #FFF;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
  }

  #experiencia-laboral {
    background-color: #FBF5F5;
    justify-content: center;
    text-align: center;
    height: 75%;
  }

  .h2Work {
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  main#mainBlog {
    grid-area: mainBlog;
    display: flex;
    background-image: url(../images/rodion-kutsaev-8P-uQaTd8rw-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    height: 25vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
  }

  section#blogPost {
    grid-area: blogPost;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
  }

  section#blogPost2 {
    grid-area: blogPost2;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
  }

  footer {
    grid-area: footer;
    display: flex;
    background-color: #FFF;
    height: 10vh;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  .carouselCaption {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 2%;
  }

  .carouselCaption h4 {
    font-weight: bolder;
    color: rgb(133, 19, 133);
  }

  .carousel-item img {
    border-radius: 15px;
  }
}
/*desktop*/
@media (min-width: 1024px) {
  #grid {
    display: grid;
    grid-template-areas: "navBlog navBlog navBlog" "mainBlog mainBlog mainBlog" "blogPost blogPost blogPost" "blogPost2 blogPost2 blogPost2" "footer  footer    footer";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 5px;
  }

  #gridHome {
    display: grid;
    grid-template-areas: "navBlog navBlog navBlog" "mainHome mainHome mainHome" "sobre sobre sobre" "#experiencia-laboral #experiencia-laboral #experiencia-laboral" "footer  footer footer ";
    grid-template-columns: auto auto auto;
    grid-template-rows: 7% 2fr 1fr 2fr 10%;
    gap: 10px;
  }

  .h3Blog {
    font-size: 15px;
    width: 80%;
    justify-content: center;
    text-align: center;
    padding-left: 20%;
    flex-wrap: wrap;
  }

  main#mainBlog {
    grid-area: mainBlog;
    display: flex;
    background-image: url(../images/rodion-kutsaev-8P-uQaTd8rw-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 65px;
  }

  section#blogPost {
    grid-area: blogPost;
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 2%;
  }

  section#blogPost2 {
    grid-area: blogPost2;
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 20px;
  }

  .leftScreenHome {
    padding-right: auto;
    height: 400px;
    background-color: #FBF5F5;
    background-size: cover;
    background-position: center;
    color: black;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
  }

  .rightScreenHome {
    background-image: url(../images/sincerely-media.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 400px;
  }

  #splitScreenHome {
    display: flex;
    height: 60vh;
    width: 100vw;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .about {
    background-color: #FFF;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    height: 20vh;
    padding-top: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .h2About {
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #experiencia-laboral {
    background-color: #FBF5F5;
    justify-content: center;
    text-align: center;
    height: 70%;
  }

  .h2Work {
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  footer {
    grid-area: footer;
    display: flex;
    background-color: #FFF;
    height: 10vh;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  #mainContact {
    display: flex;
    background-image: url(../images/rodion-kutsaev-8P-uQaTd8rw-unsplash.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: #FBF5F5;
    font-weight: bold;
  }

  .contactH2 {
    font-size: 1.5rem;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 5%;
    color: black;
  }

  .formSection {
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 5%;
  }

  #formButton {
    margin-top: 20px;
    color: black;
  }

  /* carousel */
  .carouselCaption {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    justify-content: center;
    font-weight: bold;
  }

  .carouselCaption h4 {
    font-weight: bolder;
    color: rgb(133, 19, 133);
  }

  .carousel-item img {
    border-radius: 15px;
  }
}/*# sourceMappingURL=style.css.map */